<div class="container">

	<div class="row">
	
		
		<div class="col-md-offset-3 col-md-6">
			
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>Register</h4>				
				</div>
				<div class="panel-body">
					
					<form name="register"  
							class="form-horizontal" 
							novalidate="novalidate"
							ng-submit="!userCtrl.formError && userCtrl.register()">
					
					
						<div class="form-group">
						
							<label class="col-md-4">Select Username</label>
							<div class="col-md-8">
								<input type="text" name="username" required class="form-control" ng-model="userCtrl.user.username" ng-pattern="userCtrl.usernamePattern" ng-blur="register.username.$valid && userCtrl.checkUsername(register.username)"/>
								<span class="help-block" ng-if="(register.username.$error.pattern && register.username.$touched) || (register.username.$invalid && register.username.$dirty && !userCtrl.usernameExist)">Username must be of atleast 8 characters with first letter as alphabet. You can use underscore!</span>
								<span class="help-block" ng-if="userCtrl.usernameExist">Username is already taken!</span>
							</div>
						
						</div>	
					
						<div class="form-group">
						
							<label class="col-md-4">Enter First Name</label>
							<div class="col-md-8">
								<input type="text" name="firstName" required class="form-control" ng-minlength="userCtrl.textLength" ng-model="userCtrl.user.firstName"/>
								<span class="help-block" ng-if="(register.firstName.$error.minlength && register.firstName.$touched) || (register.firstName.$invalid && register.firstName.$dirty)">Please enter first name!</span>
							</div>
						
						</div>						

						<div class="form-group">
						
							<label class="col-md-4">Enter Last Name</label>
							<div class="col-md-8">
								<input type="text" name="lastName" required class="form-control" ng-minlength="userCtrl.textLength" ng-model="userCtrl.user.lastName"/>
								<span class="help-block" ng-if="(register.lastName.$error.minlength && register.lastName.$touched) || (register.lastName.$invalid && register.lastName.$dirty)">Please enter last name!</span>
							</div>
						
						</div>						
					
						<div class="form-group">
						
							<label class="col-md-4">Enter Email Address</label>
							<div class="col-md-8">
								<input type="email" name="email" required class="form-control" ng-model="userCtrl.user.email" ng-pattern="userCtrl.emailPattern" ng-blur="register.username.$valid && userCtrl.checkEmail(register.email)"/>
								<span class="help-block" ng-if="(register.email.$error.pattern && register.email.$dirty) || (register.email.$invalid && register.email.$dirty && !userCtrl.emailExist)">Please enter proper email address!</span>
								<span class="help-block" ng-if="userCtrl.emailExist">Email address is already present!</span>
							</div>
						
						</div>						
						<div class="form-group">
						
							<label class="col-md-4">Enter Contact Number</label>
							<div class="col-md-8">
								<input type="text" name="contactNumber" required class="form-control" ng-model="userCtrl.user.contactNumber" ng-pattern="userCtrl.contactNumberPattern" maxlength="10"/>
								<span class="help-block" ng-if="(register.email.$error.pattern && register.email.$dirty) || (register.email.$invalid && register.email.$dirty)">Please enter proper contact number!</span>
							</div>
						
						</div>											
						<div class="form-group">
						
							<label class="col-md-4">Choose Password</label>
							<div class="col-md-8">
								<input type="password" name="password" required class="form-control" ng-model="userCtrl.user.password" ng-pattern="userCtrl.passwordPattern"/>
								<span class="help-block" ng-if="(register.password.$error.pattern && register.password.$touched)  || (register.password.$invalid && register.password.$dirty)">Password should be atleast 8 characters with one capital, one small, one digit and one special character!</span>
							</div>
						
						</div>						
						<div class="form-group">
						
							<label class="col-md-4">Confirm Password</label>
							<div class="col-md-8">
								<input type="password" name="confirmPassword" required class="form-control" ng-model="userCtrl.confirmPassword"/>
								<span class="help-block" ng-if="(userCtrl.confirmPassword != userCtrl.user.password) && register.confirmPassword.$dirty">Confirm password does not match!</span>
							</div>
						
						</div>						
						
						<div class="form-group">
						
							<div class="col-md-offset-4 col-md-8">
								
								<input type="submit" ng-disabled = "register.$invalid" value="Register" class="btn btn-primary"/>
								
							</div>
						
						</div>						
																														
					
					</form>
					
					
					
				</div>
			</div>
		
		</div>
	
	
	</div>

</div>